---
layout: default
---
<header class="post-header">
  <h1 class="post-title">
    {% if page.contestId %}
      Tutorial: {{ page.title }}
    {% else %}
      Một số contests trên Code Learn
    {% endif %}
  </h1>
</header>

<div class="post-content">
  <hr />
  {% if page.contestId %}
  <!-- Specific category -->
  <h4><i>Chi tiết của contest:</i> <a target="_blank" href="https://codelearn.io/Fights/Detail/{{ page.contestId }}">https://codelearn.io/Fights/Detail/{{ page.contestId }}</a></h4>
  Đánh giá cá nhân:
  {% for i in (1..page.rating) %}
  <i class="fa fa-star" style="color: rgb(255, 0, 0)"></i>
  {% endfor %}
  {% assign nr = 5 | minus: page.rating %}
  {% for i in (1..nr) %}
  <i class="fa fa-star-o"></i>
  {% endfor %}
  <hr />

  <p>Lời giải cho các bài trong contest:</p>

  <ul class="posts">
    {% for post in site.posts %}
      {% if post.contestId == page.contestId %}
        <li>
          {% if post.difficulty == "easy" %}
          <span class="label label-success custom-badge">
          {% elsif post.difficulty == "medium" %}
          <span class="label label-warning custom-badge">
          {% elsif post.difficulty == "hard" %}
          <span class="label label-danger custom-badge">
          {% endif %}
            {{ post.difficulty }}
          </span>
          &nbsp;
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          &nbsp;
          &raquo; <i><span>{{ post.date | date_to_string }}</span></i>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <hr />
  <!-- End Specific category -->
  {% else %}
  <!-- Index page -->

  {% endif %}

  <!-- Danh sách contests -->
  <div style="font-size: 20px; margin-top: 25px">
  <h2>Danh sách các contests</h2>
  <br/>
  {% for contest in site.contests %}
    {% if contest.contestId %}
      <div>
        &raquo;
        &nbsp;
          {% for i in (1..contest.rating) %}
          <i class="fa fa-star" style="color: rgb(255, 0, 0)"></i>
          {% endfor %}
          {% assign nr = 5 | minus: contest.rating %}
          {% for i in (1..nr) %}
          <i class="fa fa-star-o"></i>
          {% endfor %}
        &nbsp;
          <a href="{{ site.baseurl }}{{ contest.url }}">{{ contest.title }}</a>
          &raquo; <i><span style="font-size: 16px">{{ contest.date | date_to_string }}</span></i>
        &nbsp;
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<!-- vnspoj.github.io_ads_post_upper_related -->
<div style="margin-top: 50px; margin-bottom: 50px">
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-2949659900148168"
      data-ad-slot="1965177778"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
</div>
